@import url('https://fonts.cdnfonts.com/css/varien');
@import url('https://fonts.cdnfonts.com/css/couture');
/* font-family: 'Varien', sans-serif; */

body    {margin: 0; overflow-x: hidden; font-family: 'Couture', sans-serif; background: #111; }
body *  {color: white;}
img     {object-fit: cover; width: 100%; height: 100%;}
h1      {margin-top: 0; font-size: 100px;}